
#navBar {
    background: rgb(0, 0, 0) !important;
    height: 140px;
    position: fixed;
    width: 100%;
    top:0
}
#wrapper {
    margin: 140px auto 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: black;
  letter-spacing: 1.5px;
}

a {
  color: #A10364;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1.5px;
}

a:hover {
  color: #A10364;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

p {
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1.5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1.5px;
}


h1 { font-size: 20px; }
h2 { font-size: 22px; }
h3 { font-size: 24px; }
h4 { font-size: 26px; }
h5 { font-size: 28px; }
h6 { font-size: 30px; }

@media (min-width: 858px) {
    a, p { font-size: 18px; }
}

@media (min-width: 780px) {
    a, p { font-size: 18px; }
}

@media (min-width: 702px) {
    a, p { font-size: 18px; }
}

@media (min-width: 724px) {
    a, p { font-size: 18px; }
}

@media (max-width: 623px) {
    a, p { font-size: 18px; }
}

/*--------------------------------------------------------------
# BACK TO TOP BUTTON
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #A10364;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #A10364;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# NAVIGATION MENU
--------------------------------------------------------------*/
span {
  background: white !important;
  color: white !important;
}

/* HEADER */

#header {
  background-color: white !important;
  background: white !important;
  color: white !important;
  height: 140px;
  line-height: 5;
  padding: 15px 0;
}

#header a {
  font-size: 20px;
  letter-spacing: 1.5px;
}

#header .logo img {
  /*padding: 0;*/
  padding-right: 75px;
  /*justify-content: left;*/
  margin: 0;
  position: absolute;
  bottom: 2.25pt;
  max-width: 250px;
  max-height: 250px;
}

@media (max-width: 992px) {
  #header {
    /*background: rgba(255, 255, 255, 0.95);*/
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #header a {
    font-size: 20px;
  }
}

/*--------------------------------------------------------------
# NAVIGATION MENU
--------------------------------------------------------------*/

/* MOBILE NAVIGATION */

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  background: white !important;
  background-color: white !important;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #A10364 !important;
  padding: 8px 15px 12px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-style: 'Quicksand', sans-serif;
}
.nav-menu .drop-down ul {
  display: block;
  position: relative;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff !important;
  background-color: #fff !important;
  color: #fff !important;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
  color: #A10364 !important;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #A10364 !important;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
  color: #A10364 !important;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: relative;
  right: 15px;
  color: #A10364 !important;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
    color: #A10364 !important;
  }
}

/* MOBILE NAVIGATION */

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 22px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

/* HAMURGER */
.mobile-nav-toggle i {
  color: white;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #A10364 !important;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: relative;
  right: 15px;
  color: #A10364 !important;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
  color: #A10364 !important;
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
  color: #A10364 !important;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: relative;
  background: rgba(35, 51, 85, 0.7);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# CONTACT
--------------------------------------------------------------*/

.contact .info {
  padding: 20px 40px;
  background: #f1f3f6;
  color: #47536e;
  text-align: center;
  border: 1px solid #fff;
}

.contact .info i {
  font-size: 48px;
  color: #9fb2d8;
  margin-bottom: 15px;
}

.contact .info h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.contact .info p {
  font-size: 15px;
}

.contact .php-email-form {
  width: 100%;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form label {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
  color: #8a8c95;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
  background-color: #A10364;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #fff;
  border: 2px solid #A10364;
  padding: 10px 24px;
  color: #A10364;
  transition: 0.4s;
  border-radius: 50px;
  margin-top: 5px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #A10364;
  color: #fff;
}

@media (max-width: 1024px) {
  .contact .php-email-form {
    padding: 30px 15px 15px 15px;
  }
}

@media (max-width: 768px) {
  .contact .php-email-form {
    padding: 15px 0 0 0;
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/

#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #47536e;
  font-size: 14px;
  background: #eff2f8;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: #47536e;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #8a8c95;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #47536e;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #9fb2d8;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #8a8c95;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #A10364;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #A10364;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .copyright {
  text-align: center;
  float: left;
  color: #47536e;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #47536e;
}

@media (max-width: 768px) {
  #footer .copyright, #footer .credits {
    float: none;
    text-align: center;
    padding: 5px 0;
  }
}

/*--------------------------------------------------------------
# IMAGE SIZES
--------------------------------------------------------------*/

@media {
  img {
    max-width: 100%;
  height: auto;
  }
}

/*--------------------------------------------------------------
# FLEXBOXES
--------------------------------------------------------------*/

.row {
  display: flex;
}

.columns-container {
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.column {
  padding: 20px;
  margin-bottom: 20px;
  flex: 1;
  flex-direction: row;
}
